{% extends 'layout.html.twig' %}

{% block layout %}
<div class="row">
    <div class="d-lg-block col-lg-3">
        <div class="list-group">
                <a href="{{ path('la_base', {category: null}) }}" class="list-group-item list-group-item-action {{ (null == categoryRequest) ? "active" : "" }}">
                    Toutes les catégories
                </a>
            {% for category in categories %}
                <a href="{{ path('la_base', {category: category.id}) }}" class="list-group-item list-group-item-action {{ (categoryRequest != null and category.id == categoryRequest.id) ? "active" : "" }}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="col-lg-9 col-12">
        <div class="row" style="padding-top:20px">
            {% for data in tutos %}
                <div class="col-sm-12 col-lg-6 liste">
                    <div class="card" style="border: 1px solid black;height: 100%;min-height:215px">
                        <h5 class="card-header">
                            <strong>
                                {{ data.title }}
                            </strong>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <i>
                                    {{ data.content|length > 200 ? data.content|slice(0,200)|raw : data.content|raw }}
                                    {{ data.content|length > 200 ? '...' : ''}}
                                </i>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a style="float: right;"
                               href="{{ path('tuto_read', {tutoId: data.id}) }}"
                               class="btn btn-primary">
                                Lire le tuto
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(tutos) }}
        </div>
    </div>
</div>
{% endblock %}