{% extends 'layout.html.twig' %}

{% block layout %}
<div style="padding-left:40px">
    {% if tuto is not null %}
        <div class="row" style="display: block; max-width: 100%;">
            <h3 class="tuto_title" style="text-align: center;">
                <strong>
                    {{ tuto.title }}
                </strong>
            </h3>
            <div class="row" style="display: block;text-align: center;">
                <i style="color:gray;">{{ tuto.createdAt|date('d/m/Y') }}</i>
                {% if tuto.listekeywords|length > 0 %}
                    {% for data in tuto.listekeywords %}
                        <a href="{{ path('keyword', {keyword: data.id}) }}">
                            <span class="badge badge-primary">
                                {{ data.keyword }}
                            </span>
                        </a>
                    {% endfor %}
                {% endif %}

            </div>
            <br />
            <div class="row">
                <div class="col-lg-8 col-12">
                    {% if tuto.pdf is not null and tuto.pdf != '' %}
                        <br />
                        <a href="{{ '/labase-pdf/'~ tuto.pdf }}" target="_blank">
                            <button type="button" class="btn btn-primary">Voir le document joint</button>
                        </a>
                    {% endif %}
                    <div class="texte-principal">
                        {{ tuto.content|raw }}
                    </div>
                </div>
                {% if tuto.listelexique|length > 0 %}
                <div class="col-lg-4 col-12">
                    <div class="row" style="padding:20px; margin:10px;border: 1px solid gray;border-radius:3px">
                        {% for data in tuto.listelexique %}
                            {% if data.active == true %}
                                <b>{{ data.word }} :</b> {{ data.definition|raw }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% else %}
            <div class="row" style="display: block">
                Tuto introuvable
            </div>
        {% endif %}
</div>
{% endblock %}