{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="col-md-12">
        <div class="row">
            <h2 style="padding-left:20px">
                Liste des jurisprudences pour le mot clé : <strong><u>{{ tag }}</u></strong>
            </h2>
            <br />
        </div>
        <div class="row" style="padding-top:20px">
            {% for jurisprudence in jurisprudences %}
                <div class="col-sm-12 col-lg-4" style="padding-bottom:30px;">
                    <div class="card" style="border: 1px solid black;height: 100%;min-height:215px">
                        <h5 class="card-header">
                            <strong>
                                {{ jurisprudence.name }}
                            </strong>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <i>
                                    {{ jurisprudence.content|length > 200 ? jurisprudence.content|slice(0,200)|raw : jurisprudence.content|raw }}
                                    {{ jurisprudence.content|length > 200 ? '...' : ''}}
                                </i>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a style="float: right;"
                               href="{{ path('jurisprudence_show', {jurisprudenceId: jurisprudence.id}) }}"
                               class="btn btn-primary">
                                Consulter
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}