
<div class="row" style="padding-top:20px">
    {% if category != none %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-sm-12 col-lg-4" style="padding-bottom:30px;">
                <a href="{{ea_url()
                    .setController('App\\Controller\\Admin\\JurisprudenceCrudController')
                    .setAction('new')
                    .set('category', category.id)}}" style="text-align: center; color: white;">
                    <div class="card" style="border: 1px solid black;height: 100%;min-height:215px; background-color: #0069d9; display: flex; justify-content: center;">
                        <span class="fa fa-plus" style="margin-bottom:1em;"></span><br/><br/>
                        Ajouter une jurisprudence dans cette catégorie
                    </div>
                </a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-sm-12 col-lg-4" style="padding-bottom:30px;">
                <a href="{{ea_url()
                    .setController('App\\Controller\\Admin\\JurisprudenceCategoryCrudController')
                    .setAction('new')
                    .set('category', category.id)}}"  style="text-align: center; color: white;">
                    <div class="card" style="border: 1px solid black;height: 100%;min-height:215px; background-color:rgb(112, 162, 216); display: flex; justify-content: center;">
                        <span class="fa fa-list" style="margin-bottom:1em;"></span><br/><br/>
                        Ajouter une catégorie de jurisprudence dans cette catégorie
                    </div>
                </a>
            </div>
        {% endif %}
    {% endif %}
    {% if jurisprudences|length == 0 %}
        <div class="col-md-8">
            <p>
                Aucune jurisprudence n'est actuellement disponible dans cette catégorie
            </p>
        </div>
    {% else %}
        {% for jurisprudence in jurisprudences %}
            <div class="col-sm-12 col-lg-4" style="padding-bottom:30px;">
                <div class="card" style="border: 1px solid black;height: 100%;min-height:215px">
                        <h5 class="card-header"
                            style="background-color:
                            {% if jurisprudence.quality == 'good'%}
                                    lightgreen
                            {% elseif jurisprudence.quality == 'bad'%}
                                    indianred
                            {% else %}
                            {% endif %}
                            ;">
                        <strong>
                            {{ jurisprudence.name }}
                        </strong>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <i>
                                {{ jurisprudence.content|length > 200 ? jurisprudence.content|slice(0,200)|raw : jurisprudence.content|raw }}
                                {{ jurisprudence.content|length > 200 ? '...' : ''}}
                            </i>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a style="float: right;"
                           href="{{ path('jurisprudence_show', {jurisprudenceId: jurisprudence.id}) }}"
                           class="btn btn-primary">
                            Consulter
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>