{% extends 'layout.html.twig' %}

{% block layout %}
<div class="row">
    <!-- NAVBAR LATERALE -->
    <div class="d-lg-block col-lg-3">
        <div class="list-group homepage-navbar"> <!-- sticky ?? -->
            <a href="{{ path('homepage', {categorie: null}) }}" class="list-group-item list-group-item-action {{ (null == categoryRequest) ? "active" : "" }}">
                Toutes les catégories
            </a>
            <a href="{{ path('homepage', {categorie: 'jurisprudences'}) }}" class="list-group-item list-group-item-action {% if 'jurisprudences' == categoryRequest %} active {% endif %}">
                Les jurisprudences
            </a>
            <a href="{{ path('homepage', {categorie: 'infos'}) }}" class="list-group-item list-group-item-action {{ (categoryRequest != null and 'infos' == categoryRequest) ? "active" : "" }}">
                Les actualités
            </a>
            <a href="{{ path('homepage', {categorie: 'tutos'}) }}" class="list-group-item list-group-item-action {{ (categoryRequest != null and 'tutos' == categoryRequest) ? "active" : "" }}">
                La Base
            </a>

        </div>
    </div>

    <div class="col-lg-9 col-12">
        <h2><b>Les derniers articles</b></h2>
       <div class="row">
            {% for data in dataContent %}
                <div class="col-sm-12 col-lg-6 liste">
                    <div class="card" style="border: 1px solid black;height: 100%;min-height:215px">
                        <h5 class="card-header {% if data.type == 'tuto' %} tuto {% elseif data.type == 'news' %} news {% else %} jurisprudence {% endif %}">
                            <strong>
                                {{ data.title }}
                            </strong>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <i>
                                    {{ data.content|length > 200 ? data.content|slice(0,200)|raw : data.content|raw }}
                                    {{ data.content|length > 200 ? '...' : ''}}
                                </i>
                            </p>
                        </div>
                        <div class="card-footer">
                            {% if data.type == 'tuto' %}
                                <a href="{{ path('tuto_read', {tutoId: data.id}) }}" style="float:right; background-color:var(--info); border-color:var(--info);" class="btn btn-primary">
                                    Lire le tuto
                                </a>
                            {% elseif data.type == 'news' %}
                                <a href="{{ path('news_read', {actuId: data.id}) }}" style="float:right; background-color:var(--news-color); border-color:var(--news-color);" class="btn btn-primary">
                                    Lire l'actu
                                </a>
                            {% else %}
                                <a href="{{ path('jurisprudence_show', {jurisprudenceId: data.id}) }}" style="float:right;" class="btn btn-primary">
                                    Consulter la jurisprudence
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(dataContent) }}
        </div>
    </div>
</div>


{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        h5::before {
            content: '';
            display: inline-block;
            width: .5em;
            height: .5em;
            -moz-border-radius: .25em;
            -webkit-border-radius: .25em;
            border-radius: .25em;
        }

        h5.tuto::before {
           background-color: var(--info);
        }

        h5.news::before {
            background-color: var(--news-color);
        }

        h5.jurisprudence::before {
                background-color: var(--primary);
        }
    </style>
{% endblock %}