{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="row">
        <div class="d-none d-lg-block col-lg-3">
            <div class="list-group">
                <a href="{{ path('search', {search: search, categorie: null}) }}" class="list-group-item list-group-item-action {{ (null == categoryRequest) ? "active" : "" }}">
                    Toutes les catégories
                </a>
                <a href="{{ path('search', {search: search, categorie: 'tutos'}) }}" class="list-group-item list-group-item-action {{ ('tutos' == categoryRequest) ? "active" : "" }}">
                    Tutos
                </a>
                <a href="{{ path('search', {search: search, categorie: 'infos'}) }}" class="list-group-item list-group-item-action {{ ('infos' == categoryRequest) ? "active" : "" }}">
                    Infos
                </a>
                <a href="{{ path('search', {search: search, categorie: 'jurisprudences'}) }}" class="list-group-item list-group-item-action {{ ('jurisprudences' == categoryRequest) ? "active" : "" }}">
                    Jurisprudences
                </a>
            </div>
        </div>

        <div class="col-lg-9 col-12">
            <div class="row">
                {% if dataContent|length > 0 %}
                    {% for data in dataContent %}
                        <div class="col-sm-12 col-lg-6" style="padding-bottom:30px;">
                            <div class="card" style="border: 1px solid black;height: 100%;min-height:215px">
                                <h5 class="card-header">
                                    <strong>
                                        {{ data.title }}
                                    </strong>
                                </h5>
                                <div class="card-body">
                                    <p class="card-text">
                                        <i>
                                            {{ data.content|length > 200 ? data.content|slice(0,200)|raw : data.content|raw }}
                                            {{ data.content|length > 200 ? '...' : ''}}
                                        </i>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    {% if data.type == 'tuto' %}
                                        <a href="{{ path('tuto_read', {tutoId: data.id}) }}" style="float:right" class="btn btn-primary">
                                            Lire le tuto
                                        </a>
                                    {% elseif data.type == 'news' %}
                                        <a href="{{ path('news_read', {actuId: data.id}) }}" style="float:right" class="btn btn-primary">
                                            Lire
                                        </a>
                                    {% else %}
                                        <a href="{{ path('jurisprudence_show', {jurisprudenceId: data.id}) }}" style="float:right" class="btn btn-primary">
                                            Consulter la jurisprudence
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <p>
                            Aucune ressource ne correspond à votre recherche
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}