<div class="modal fade" id="tuto_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter cette contribution aux tutos de "La Base"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="flash-messsage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" onclick="addTuto()">Ajouter dans "La Base"</button>
            </div>
        </div>
    </div>
</div>

<script>
    var active = null;
    var content = '';
    var title = $('#Contribution_name').val();

    $(document).on('change', '#form_active', function(event) {
        active = $(this).is(':checked');
    });
    $(document).on('change input keypress paste', '#Contribution_name', function(event) {
        title = ($(this).val());
    });
    for (var i in CKEDITOR.instances) {
        CKEDITOR.instances[i].on('change', function(evt) {
            content = evt.editor.getData();
        });
    }

    // Display form on modal opening
    $('#tuto_modal').on('show.bs.modal', function (e) {
        // Get the form
        var contributionTutoFormURL = "{{ path('contribution_admin_form_tuto') }}";
        $.ajax({
            type: 'GET',
            url: contributionTutoFormURL,
        }).then(function(response) {
            $('.modal-body').html(response);
        });
    })

    // Post the form
    function addTuto() {
        var contribToTutoURL = "{{ path('contribution_to_tuto') }}";
        const urlParams = new URLSearchParams(window.location.search);
        const contributionId = urlParams.get('entityId');

        $('.flash-messsage').html('<div class="spinner-border text-primary" style="margin-left:30px" role="status"><span class="sr-only">Loading...</span></div>');
        $.ajax({
            type: 'POST',
            url: contribToTutoURL,
            data: {
                'contribution': contributionId,
                'active': active,
                'content': content,
                'name': title
            }
        }).then(function(response) {
            $('.flash-messsage').html('<div class="alert alert-success" role="alert">Tuto ajouté</div>');
            setTimeout(function(){
                $('#tuto_modal').modal('toggle');
                $('.flash-messsage').empty();
            }, 2000);
        });
    }
</script>