{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="row" style="display:block; padding-left:40px">
        <h2 style="text-align: center">
            <strong>
                Contactez nous
            </strong>
        </h2>
        <br />
        <p>
            <i>
                Vous avez une question, écrivez nous ! (Vous pouvez laisser un email Valide si vous souhaitez qu'on vous réponde)
            </i>
        </p>
        <br />
    </div>
    <div class="row" style="display:block; padding-left:40px">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" style="width:50%">
                {{ message }}
            </div>
        {% endfor %}
        <div class="col-8">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @media screen and (max-width: 1000px) {
            #contact_pseudo, #contact_title, #contact_emailFrom, #contact_Content {
                font-size:50px
            }
        }
    </style>
{% endblock %}