{% extends 'layout.html.twig' %}

{% block layout %}
<div class="row" style="display: block; max-width: 100%; padding-bottom: 1.5em;">
    <h2 class="title" style="text-align: center;">
        <b>Lexique</b>
    </h2>
</div>
<div class="col-lg-8 col-12" style="margin-right: auto; margin-left: auto;">
    <div style="padding: 20px; margin: 10px; border: 1.5px solid gainsboro; border-radius: 3px;">
        {% for data in entries %}
            <h4><b>{{data.word}}</b></h4>
            {{ data.definition|raw }}
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}