{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="row" style="display:block; padding-left:40px">
        <h2 style="text-align: center">
            <strong>
                Contribution
            </strong>
        </h2>
        <br />
        <p>
            <i>
                Vous voulez participer au site par une info, un tuto ? contribuez ici !
            </i>
        </p>
    </div>
    <div class="row" style="display:block; padding-left:40px">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" style="width:50%">
                {{ message }}
            </div>
        {% endfor %}
        <div class="col-10 col-lg-8">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @media screen and (max-width: 1000px) {
            #contribution_name, #contribution_type {
                font-size:50px
            }
        }
    </style>
{% endblock %}
